// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FOOTER
//// --------------------------------------------------------------------------

	// Style block

	.footer {
		& > * {
			margin: 0 0 theme.$spacing-x4 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.footer-blocks {
			.footer-copyright {
				p {
					margin: 0;
				}
			}
			.footer-social {
				.footer-social-links {
					@include mixins.flex-layout((align-items: center));
					@include mixins.gap(theme.$spacing-x4);
					.footer-social-link {
						line-height: 0;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.footer {
			.footer-blocks {
				.footer-social {
					order: 99;
					.footer-social-links {
						@include mixins.flex-parent(justify-content, flex-end);
					}
				}
			}
		}
	}
	@include mixins.respond(theme.$bp-02 - 1px) {
		.footer {
			.footer-blocks {
				.footer-block {
					@include mixins.flex(1 1 100%);
				}
			}
		}
	}