{
	"printWidth": 150,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
