// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// HEADER
//// --------------------------------------------------------------------------

	// Style block

	.header {
		margin: 0 0 theme.$spacing-x4 0;
		& > * {
			margin: 0 0 theme.$spacing-x4 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.site-details {
			@include mixins.gap(20px);
			h1, p {
				margin: 0;
			}
			.site-logo {
				@include mixins.flex(0 1 auto);
				width: 50px;
				.image-wrapper {
					max-width: 100%;
				}
			}
			.site-name {
				@include mixins.flex;
				h1 {
					line-height: 1.5;
				}
			}
			.site-description, .site-search {
				@include mixins.flex(1 1 100%);
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.header {
			margin: 0 0 theme.$spacing-x8 0;
			.site-details {
				.site-logo {
					width: 50px;
				}
				.site-description {
					order: 20;
				}
				.site-name, .site-search {
					@include mixins.flex(0 1 auto);
				}
				.site-search {
					margin-left: auto;
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-03) {
		.header {
			.site-details {
				.site-description {
					order: 0;
					@include mixins.flex(0 1 auto);
				}
			}
		}
	}