// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CATEGORY
//// --------------------------------------------------------------------------

	.tag {
		.tag-details {
			& > * {
				margin: 0 0 theme.$spacing-x4 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.tag-posts {
			margin: theme.$spacing-x4 0 0 0;
		}
	}

//// CATEGORY LIST
//// --------------------------------------------------------------------------

	// Style block

	.tags {
		.tag {
			.tag-details {
				& > * {
					margin: 0 0 theme.$spacing-x2 0;
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.tags {
			.tag {
				&, & .tag-details {
					@include mixins.flex-layout((flex-flow: column nowrap));
				}
				.tag-details {
					@include mixins.flex;
					.tag-title {
						@include mixins.line-clamp(1);
					}
					.tag-read-more {
						margin-top: auto;
						a {
							margin-top: -#{theme.$spacing-x2};
						}					
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-04) {
		.tags {
			.tag {
				@include mixins.gap-width(theme.$spacing-x4, 3);
			}
		}
	}