// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// PAGINATION
//// --------------------------------------------------------------------------

	.pagination {
		margin: theme.$spacing-x4 0 0 0;
		.pagination-list {
			&:not(:has(.pagination-previous)) {
				margin-left: -#{theme.$spacing-x2};
			}
			.pagination-list-item {
				.pagination-link, .pagination-ellipsis {
					color: theme.$color-04;
				}
				.pagination-link {
					padding: 0 theme.$spacing-x2;
					&[aria-current='page'] {
						color: theme.$color-05;
						font-weight: theme.$font-weight-01;
					}
				}
			}
		}
	}
