// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// POST LIST
//// --------------------------------------------------------------------------

	// Style block

	.posts {
		.post {
			.post-image {
				position: relative;
				margin: 0 0 theme.$spacing-x2 0;
				.image-wrapper {
					padding-bottom: 50%;
				}
			}
			.post-details {
				& > * {
					margin: 0 0 theme.$spacing-x2 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
				.post-meta {
					span ~ span {
						padding: 0 0 0 theme.$spacing-x1;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.posts {
			.post {
				&, & .post-details {
					@include mixins.flex-layout((flex-flow: column nowrap));
				}
				.post-image {
					@include mixins.flex(0 1 auto);
				}
				.post-details {
					@include mixins.flex;
					.post-title {
						min-height: 62px;
						@include mixins.line-clamp(2);
					}
					.post-read-more {
						margin-top: auto;
						a {
							margin-top: -#{theme.$spacing-x2};
						}					
					}
				}
			}
		}		
	}
	@include mixins.respond-min(theme.$bp-04) {
		.posts {
			.post {
				@include mixins.gap-width(theme.$spacing-x4, 3);
			}
		}
	}