// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// PAGE
//// --------------------------------------------------------------------------

	.page {
		.page-image {
			position: relative;
			margin: 0 0 theme.$spacing-x4 0;
			.image-wrapper {
				padding-bottom: 35%;
			}
		}
		.page-details {
			& > * {
				margin: 0 0 theme.$spacing-x4 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

//// PAGES LIST
//// --------------------------------------------------------------------------

	// Style block

	.pages {
		.page {
			.page-image {
				margin: 0 0 theme.$spacing-x2 0;
				.image-wrapper {
					padding-bottom: 50%;
				}
			}
			.page-details {
				& > * {
					margin: 0 0 theme.$spacing-x2 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.pages {
			.page {
				&, & .page-details {
					@include mixins.flex-layout((flex-flow: column nowrap));
				}
				.page-image {
					@include mixins.flex(0 1 auto);
				}
				.page-details {
					@include mixins.flex;
					@include mixins.gap(theme.$spacing-x2);
					& > * {
						margin: 0;
					}
					.page-title {
						@include mixins.line-clamp(1);
					}
					.page-read-more {
						margin-top: auto;					
					}
				}
			}
		}		
	}
	@include mixins.respond-min(theme.$bp-04) {
		.pages {
			.page {
				@include mixins.gap-width(theme.$spacing-x4, 3);
			}
		}
	}